body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Book Antiqua", sans-serif;
}

#content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myImage, #myIcon, .smallImage {
    max-width: 100%;
    height: auto;
    border: 2px solid #6a1b9a;
    border-radius: 8px;
    margin-top: 20px;
}

#textContainer {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    border: 2px solid #6a1b9a;
    border-radius: 8px;
    font-family: "Book Antiqua", sans-serif;
}

h1 {
    font-family: Georgia, serif;
}

#btnNext, #btnSuplementacao {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6a1b9a;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#btnNext:hover, #btnSuplementacao:hover {
    background-color: #4a148c;
}

/* Adicionando estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    #textContainer {
        font-size: 14px;
        padding: 10px;
    }

    p {
        font-size: 12px;
    }

    #btnNext, #btnSuplementacao {
        font-size: 14px;
        padding: 8px 16px;
    }

    #myImage, #myIcon, .smallImage {
        margin-top: 10px;
    }
}
